# Destination directory
AGSDEST=${HOME}/Developer/AmigaVision-Output

# Temporary directory used during image creation
AGSTEMP=${AGSDEST}/tmp

# Directory for base image and WHDLoad content
AGSCONTENT=./content

# Path to kickstart ROM
FSUAEROM=${AGSCONTENT}/base/kickstart.rom

# Path to fs-uae binary
FSUAEBIN=/Applications/FS-UAE.app/Contents/MacOS/fs-uae

# Optional archive fetch settings
# ARCHIVE_FETCH_REMOTE=
# ARCHIVE_FETCH_LOGIN_CMD=
# ARCHIVE_FETCH_LIST_CMD=
# ARCHIVE_FETCH_LIST_LONG_CMD=
# ARCHIVE_FETCH_GET_CMD=
# ARCHIVE_FETCH_LOGOUT_CMD=
# ARCHIVE_FETCH_CUTOFF_DAYS=10
