.vscode
*.pyc
*.o
*.so
vadjust
.DS_Store
configs/Layers/Base/DH0/Libs/idefix.library
cd32/games/AmigaCD32/CD32NoICache.hdf
cd32/games/AmigaCD32/CD32NoFastMemICache.hdf
cd32/games/AmigaCD32/CD32NoFastMem.hdf
cd32/games/AmigaCD32/CD32.hdf
cd32/NAS/games/AmigaCD32/CD32.hdf
cd32/NAS/games/AmigaCD32/CD32NoFastMem.hdf
cd32/NAS/games/AmigaCD32/CD32NoFastMemICache.hdf
cd32/NAS/games/AmigaCD32/CD32NoICache.hdf
cd32/SD/games/AmigaCD32/CD32.hdf
cd32/SD/games/AmigaCD32/CD32NoFastMem.hdf
cd32/SD/games/AmigaCD32/CD32NoFastMemICache.hdf
cd32/SD/games/AmigaCD32/CD32NoICache.hdf
cd32/USB/games/AmigaCD32/CD32.hdf
cd32/USB/games/AmigaCD32/CD32NoFastMem.hdf
cd32/USB/games/AmigaCD32/CD32NoFastMemICache.hdf
cd32/USB/games/AmigaCD32/CD32NoICache.hdf
cd32/games/AmigaCD32/CD32.rom
cd32/NAS/games/AmigaCD32/CD32.rom
cd32/SD/games/AmigaCD32/CD32.rom
cd32/USB/games/AmigaCD32/CD32.rom
