[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
#amitools = {path = "../amitools", editable = true}
amitools = {git = "https://github.com/amigavision/amitools.git", ref = "2e165cad2e0d3759a39fce9c18d32d3fb8ce2fd6", editable = true}
lhafile = "~=0.3.0"
pillow = "~=12.2.0"
ruamel-yaml = "~=0.17.32"
Wand = "~=0.6.11"

[requires]
python_version = "3.11"
