[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
ruamel-yaml = "~=0.16.10"
lhafile = "~=0.2.0"
pillow = "~=7.1.1"

[requires]
python_version = "3.7"
