Source: python-lhafile
Section: libs
Priority: extra
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Maintainer: Frode Solheim <frode@fs-uae.net>
Build-Depends: debhelper (>= 8), python-all-dev (>= 2.6.6-3~), python3-all-dev (>= 3.1.2-7~)
Standards-Version: 3.8.4
Homepage: http://fengestad.no/python-lhafile

Package: python-lhafile
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: LHA archive support for Python

Package: python3-lhafile
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python3:Provides}
Description: LHA archive support for Python 3
